# Configuração do Banco de Dados
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=inventory

# Segurança (altere em produção!)
SECRET_KEY=supersecretkey

# Portas da aplicação
BACKEND_PORT=8002
FRONTEND_PORT=5174
